.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    margin: 30px;
}

.content {
    padding: 24px;
    background: white;
}

.sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.content-title {
    font-size: xx-large;
}

.configureButton {
    float: right;
    margin-bottom: 20px;
}

.input-faces {
    margin-bottom: 13px;
}