.register-form {
    padding-left: 40%;
    padding-right: 25%;
    padding-top: 10%;
}

.register-form-button {
    width: 100%;
}

.register-background {
    background-image: url("../../assets/login_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -9999;
    transform: scaleX(-1);
}

.register-title {
    color: white;
    font-size: x-large;
}